<form class="form login-form">
  <div class="form-sec">
    <label for="email-login">Email.</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-sec">
    <label for="password-login">Password.</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-sec">
    <button class="btn" type="submit">Login</button>
  </div>
  <div class="sign-up">
    <a href="/signup" class="sign-up-text"> ¿Don't have an account? Sign up!</a>
  </div>
 
</form>

<script src="/js/login.js"></script>
