<form class="form newPost-form">
    <div class="heading">
        <p class="postTitle">Create New Post</p>
    </div>
    <div class="form-sec">
        <label for="title-newPost">Title.</label>
        <input class="form-input" type="text" id="title-newPost"/>
    </div>
    <div class="form-sec">
        <label for="content-newPost">Content.</label>
        <input class="form-input" type="text" id="content-newPost"/>
    </div>
</form>

<script src="/js/newPost.js"></script>