<div class="post-card">
    <div class="card-header">
        <h2>New Post</h2>
    </div>
    <form class="card-body newPost-form">   
        <label for="title-newPost">Title.</label>
        <input class="form-input" type="text" id="title-newPost"/>

        <label for="content-newPost">Content.</label>
        <textarea name="content"  class="form-input" placeholder="Write post content here..." id="content-newPost" cols="0" rows="6"></textarea>
    
        <button class="btn sign-up-btn" id="publish" type="submit">Publish</button>
    </form>
 </div>

<script src="/js/newPost.js"></script>