<form class="form signup-form">
  <div class="form-sec">
    <label for="username-signup">Username.</label>
    <input class="form-input" type="text" id="username-signup" />
  </div>
   <div class="form-sec">
    <label for="email-signup">Email.</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-sec">
    <label for="password-signup">Password.</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-sec">
    <button class="btn sign-up-btn" type="submit">Sign Up</button>
  </div>
  <div class="sign-up">
    <a href="/login" class="sign-up-text"> ¿Already have an account? Log in!</a>
  </div>
 
 
</form>

<script src="/js/signup.js"></script>