/* Generals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: system-ui, sans-serif; }
a {
    text-decoration: none;
    color: inherit; }
li {
    list-style: none; }
button {
    border: none;
    cursor: pointer; }
textarea {
    resize: none;
    font-family: inherit;
} 

/* Navbar */
.header {
    top: 0;
    height: 65px;
    width: 100%;
    z-index: 1000;
    background: #333;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); 
    display: flex; }
.header__main {
    width: 100% ;
}
.header__content {
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem; }
    @media only screen and (max-width: 56.25em) {
        .header__content {
        padding: 0 2rem; } }
.header__sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700; }
.header__links {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
    .header__links { display: none; } }
.header__link {
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color .3s; }
    .header__link:hover {
    color: #0062b9; }

/* Mobile Navbar */ 
.header__main-ham-menu-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0; }
    @media only screen and (max-width: 37.5em) {
    .header__main-ham-menu-cont {
        display: block; } }
.header__main-ham-menu {
    width: 100%; }
.header__main-ham-menu-close {
    width: 100%; }
.header__sm-menu {
    z-index: 1000;
    background: #333;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
    .header__sm-menu--active {
    visibility: hidden;
    opacity: 0; }
    @media only screen and (max-width: 37.5em) {
        .header__sm-menu--active {
        visibility: visible;
        opacity: 1; } }
.header__sm-menu-link a  {
    display: block;
    text-decoration: none;
    padding: 1.5rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s; }
.header__sm-menu-link img {
    display: block;
    margin: 1.5rem;
    float: right;
    width: 24px;
    height: 24px;
}
.header__sm-menu-link a:hover {
    color: #0062b9; }
.header__sm-menu-link:first-child a {
    border-top: 1px solid #eee; }
.header__sm-menu-link-last {
    border-bottom: 0; }

/* Main Container */ 
.container-main {
    top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72vh;
}
    
/* Forms */
.form {
    position: relative;
    width: 70%;
    max-width: 565px;
    min-width: 300px;
    padding: 15px;
    background-color: rgba(55, 54, 68, 0.10);
    border-radius: 1.5rem;
    margin:25px;
}
.form-sec {
    letter-spacing: 1px;
    font-size: 1.2rem;
}   
.form-input {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
} 
.sign-up {
    text-align: center;
    margin: 25px;
}
.sign-up-text:hover {
    color: #ffffff;
}

/* Buttons */
.btn {
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 1.5rem;
    margin-top: .3rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    color: #1a1a1a;
    background-color:  rgba(4, 2, 32, 0.103);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn:hover {
    background-color: #cecece;
    color: #ffffff;
}
#newPost {
    font-size: inherit;
    font-family: inherit;
    background-color: #1a1a1a;
    color:#ffffff;
    padding: 25px;
    border-radius: 25px;
}
#newPost:hover {
    transform: scale(1.1);
}

/* Posts */
.posts-container {
    position: relative;
    width: 50%;
    min-width: 300px;
}
.post-card {
    position: relative;
    background-color: rgba(55, 54, 68, 0.10);
    border-radius: 1.5rem;
    margin: 1.5rem;
}
.card-header {
    background-color: #aeb4b9;
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.card-data {
    font-size: .95rem;
    font-weight: 400;
    color: rgba(40, 37, 53, 0.733);
}
.card-body {
    padding:1.5rem;
    font-size: 1.1rem;
}

/* User Dashboard */
.user-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    max-width: 765px;
}   
.list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(55, 54, 68, 0.60);
    color: #fff;
    padding: 25px;
    border-radius: 3rem;
}

/* Footer */
.footer {
    bottom:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}






